@import "~variables.scss";


header.component {
  width: 100%;
}


header.component > .navigation {
  border: solid $azure;
  border-width: 0 0 2px 0;
  color: $azure;
  letter-spacing: 0.125rem;
  font-size: 1rem;
  position: relative;
  text-align: center;
  z-index: 2;

  > li {
    float: left;
    width: 50%;
    box-sizing: border-box;
    background: $purple;
  }

  > :first-child {
    border-right: 1px solid $azure;
  }

  > :last-child {
    border-left: 1px solid $azure;
  }

  > .selected {
    color: $magenta;
  }
}

header.component > .navigation.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header.component > .navigation > li > a {
  display: block;
  padding: 0.875rem 0;
}

header.component > .navigation > li > a:hover {
  background: $magenta;
  color: $azure;
}


header.component > .social-media {
  height: 5.25rem;
  border: solid $azure;
  border-width: 0 2px 2px 2px;
}

header.component > .social-media > li {
  float: left;
  box-sizing: border-box;
  height: 100%;
  width: 33.33%;
}

header.component > .social-media > li > a {
  display: block;
  box-sizing: border-box;
  height: 100%;
  border-radius: 3px;
  padding: 0.5em 0;
}

header.component > .social-media > li > a > img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

header.component > .social-media > li > a:hover {
  background: $magenta;
}



/* BREAKPOINT: screenmd */

@media (min-width: $screenmd) {
  header.component > .social-media {
    height: 4.375rem;
    width: 50%;
    margin: 0 auto;
  }
}



/* BREAKPOINT: screenlg */

@media (min-width: $screenlg) {
  header.component > .navigation > li > a {
    padding: 0.625rem 0;
  }

  header.component > .social-media {
    height: 3.5rem;
    width: 33%;
  }
}
