@import '~variables.scss';


main > .biography {
  margin: 0.75rem 2rem 1.25rem 2rem;;
}

main > .biography > p {
  margin-bottom: 1.25rem;
}

main > .biography > .my-photo {
  float: right;
  width: 33vw;
  max-width: 250px;
  border: 2px solid $magenta;
  border-radius: 50%;
  margin: 0.875rem;
}


/* BREAKPOINT: screenlg */

@media (min-width: $screenlg) {
  main > .biography {
    margin: 0 3rem;
  }
}
